In [26]:
import pandas as pd
from pathlib import Path
import difflib

In [23]:
list(Path("bds").glob("*.csv"))

[]

In [39]:
import ipystata

In [41]:
%%stata -o df
foreach ADM in "FRA" "IRN" "KOR" "ITA" "USA" {
	import delim using "results/source_data/indiv/ExtendedDataFigure5_r2_`ADM'.csv", clear
	g adm0 = "`ADM'"
	tempfile f`ADM'
	save `f`ADM''
}

drop if _n > 0

foreach ADM in "FRA" "IRN" "KOR" "ITA" "USA" {
	append using `f`ADM''
}

egen grp = group(adm0)
rename lag_ L
g max = r2 + 1.96*se
g min = r2 - 1.96*se

foreach GRP of num 2/5{
	replace L = L + `GRP'/10 if grp == `GRP'
}

tw connect r2 L if grp == 1, mc(gold) lc(gold) || rspike max min L if grp == 1, lc(gold*.7) ///
|| connect r2 L if grp == 2, mc(maroon) lc(maroon) || rspike max min L if grp == 2, lc(maroon*.7) ///
|| connect r2 L if grp == 3, mc(ebblue) lc(ebblue) || rspike max min L if grp == 3, lc(ebblue*.7) ///
|| connect r2 L if grp == 4, mc(green) lc(green) || rspike max min L if grp == 4, lc(green*.7) ///
|| connect r2 L if grp == 5, mc(black) lc(black) || rspike max min L if grp == 5, lc(black*.7) ///
legend(order(1 3 5 7 9) lab(1 "FRA") lab(3 "IRN") lab(5 "ITA") lab(7 "KOR") lab(9 "USA") rows(1) region(lstyle(none))) ///
xtitle(# fixed lags) ytitle(R-squared, height(10))

(3 vars, 16 obs)
file /tmp/St19174.000001 saved
(3 vars, 16 obs)
file /tmp/St19174.000002 saved
(3 vars, 16 obs)
file /tmp/St19174.000003 saved
(3 vars, 16 obs)
file /tmp/St19174.000004 saved
(3 vars, 16 obs)
file /tmp/St19174.000005 saved
(16 observations deleted)variable L was byte now float
(16 real changes made)
(16 real changes made)
(16 real changes made)
(16 real changes made)
> || connect r2 L if grp == 2, mc(maroon) lc(maroon) || rspike max min L if grp == 2, lc(maroon*.7) ///
> || connect r2 L if grp == 3, mc(ebblue) lc(ebblue) || rspike max min L if grp == 3, lc(ebblue*.7) ///
> || connect r2 L if grp == 4, mc(green) lc(green) || rspike max min L if grp == 4, lc(green*.7) ///
> || connect r2 L if grp == 5, mc(black) lc(black) || rspike max min L if grp == 5, lc(black*.7) ///
> legend(order(1 3 5 7 9) lab(1 "FRA") lab(3 "IRN") lab(5 "ITA") lab(7 "KOR") lab(9 "USA") rows(1) region(lstyle(none))) ///
> xtitle(# fixed lags) ytitle(R-squared, height(10))

In [44]:
df

          r2        se     L adm0  grp       max       min
0   0.312427  0.032536   0.0  FRA  1.0  0.376197  0.248657
1   0.317720  0.045695   1.0  FRA  1.0  0.407282  0.228158
2   0.328810  0.067644   2.0  FRA  1.0  0.461393  0.196227
3   0.312963  0.056744   3.0  FRA  1.0  0.424182  0.201744
4   0.302412  0.063205   4.0  FRA  1.0  0.426294  0.178530
..       ...       ...   ...  ...  ...       ...       ...
75  0.285256  0.019564  11.5  USA  5.0  0.323602  0.246911
76  0.304735  0.009145  12.5  USA  5.0  0.322659  0.286812
77  0.279846  0.016856  13.5  USA  5.0  0.312885  0.246808
78  0.263680  0.002194  14.5  USA  5.0  0.267981  0.259380
79  0.277763  0.010804  15.5  USA  5.0  0.298939  0.256586

[80 rows x 7 columns]

In [37]:
try:
    x = sdf
except NameError as err:
    print(err)

name 'sdf' is not defined

In [34]:
for line in difflib.unified_diff(a.to_string(), b.to_string()):
    print(line)

---

+++

@@ -60,8 +60,8 @@




-
-5
+7
+2

In [13]:
a = Path("a.csv")

In [16]:
a.suffix

'.csv'

In [10]:
%%stata -o df
import delim using "results/source_data/indiv/ExtendedDataFigure5_r2_USA.csv"

(3 vars, 16 obs)

In [11]:
df

          r2        se  lag_length
0   0.298082  0.004275           0
1   0.277292  0.023378           1
2   0.280468  0.008113           2
3   0.303585  0.022003           3
4   0.308593  0.086194           4
5   0.284360  0.006746           5
6   0.283391  0.027308           6
7   0.302851  0.008798           7
8   0.300125  0.040935           8
9   0.305607  0.017665           9
10  0.300894  0.010867          10
11  0.285256  0.019564          11
12  0.304735  0.009145          12
13  0.279846  0.016856          13
14  0.263680  0.002194          14
15  0.277763  0.010804          15